//color palettes
$color-1: #EAEAE1; // Light gray - Background color
$color-2: #B9B9B7; // Darker gray - Accent shapes
$color-3: #565654; // Darkest gray - Attention shapes
$color-4: #D45C10; // Orange - Important titles and page accents
$color-5: #000000; // Black - Font
$color-6: #ffffff; // White - For fonts over the darker and darkest grays

// fonts

$primary-font: 'Merriweather', serif;
$secondary-font: 'Open Sans', sans-serif;

/* -------------------------------- 

xNavigation 

-------------------------------- */

